<div class="banner{% if page.banner.video-url %} banner--video{% endif %}">
  <div class="site-header__offset"></div>
  <div class="site-nav__offset"></div>
  <div class="banner__wrap">
    {% if page.banner.content %}
      {{page.banner.content | liquify}}
    {% elsif layout.banner.content %}
      {{layout.banner.content | liquify}}
    {% else %}
      <div class="container container--no-padding text--center">
        {% if page.banner.title-sup %}<h2 class="h--subtitle">{{page.banner.title-sup}}</h2>{% endif %}
        <h1 class="h--banner">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
        {% if page.banner.title-sub %}<h2 class="h--subtitle">{{page.banner.title-sub}}</h2>{% endif %}
      </div>
    {% endif %}
  </div>
  <div class="banner__bg" style="background-image: url('{{site.img}}/{{page.id}}/banner.jpg')"></div>
  {% if page.banner.video-url %}
  <a href="#content" class="banner__jump-down"></a>
  <div class="banner__bg-video"><div class="banner__bg-video-overlay"></div><video id="banner-video" src="http://m-stg.secretescapes.com/uk/2019/lexus-design-collection/uk/_assets/video/video.mp4" height="100%" playsinline="" loop="" muted="" autoplay=""></video></div>
  {% endif %}
</div>
<div id="content"></div>