<div class="banner">

  <div class="banner__fades"></div>
  <div class="banner__bg" style="background-image: url('{{site.img}}/pages/{{page.id}}/banner.jpg')"></div>
  <div class="soundwave">
    <div class="soundwave__node soundwave__node--xxxl">
      {% include svg/soundwave-node.html %}
    </div>
    <div class="soundwave__node soundwave__node--xxxl">
      {% include svg/soundwave-node.html %}
    </div>
    <div class="soundwave__node">
      {% include svg/soundwave-node.html %}
    </div>
    <div class="soundwave__node">
      {% include svg/soundwave-node.html %}
    </div>
    <div class="soundwave__center">
      {% include svg/soundwave-center.html %}
    </div>
    <div class="soundwave__node">
      {% include svg/soundwave-node.html %}
    </div>
    <div class="soundwave__node">
      {% include svg/soundwave-node.html %}
    </div>
    <div class="soundwave__node soundwave__node--xxxl">
      {% include svg/soundwave-node.html %}
    </div>
    <div class="soundwave__node soundwave__node--xxxl">
      {% include svg/soundwave-node.html %}
    </div>
  </div>
</div>
