
<div class="vpad--xxxxl bg--img theme--dark" style="background-image: url({{site.img}}/pages/competition/promo.jpg);">
  <div class="container container--xl text--center">
    <div class="h h--xl">
      Win a trip to Beethoven's Bonn
    </div>
    <div class="space--xxxs"></div>
    <p class="p--xxxl">
      In celebration of Beethoven’s 250th birthday, we’re sending one lucky winner to the composer’s birthplace to experience the sounds of Germany for themselves.
    </p>
    <div class="space--md"></div>
    <a href="{{site.baseurl}}/competition" class="btn btn--xl">Enter now</a>
  </div>
</div>