
<div class="vpad--xxxxl bg--img theme--dark" style="background-image: url({{site.img}}/competition/promo.jpg);">
  <div class="container container--xxl text--center">
    <div class="h h--lg">Win a trip to Germany</div>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <div class="space--md"></div>
    <a href="{{site.baseurl}}/competition" class="btn">Enter now</a>
  </div>
</div>