
<div class="vpad--xxxxl bg--img theme--dark" style="background-image: url({{site.img}}/pages/competition/promo.jpg);">
  <div class="boxpad--xxl">
    <div class="h h--xxl">
      Win an exciting <br />
      trip to Germany
    </div>
    <div class="space--xxxs"></div>
    <p class="p--xxxl">
      Experience the sounds for yourself and win a holiday to Germany!
    </p>
    <div class="space--md"></div>
    <a href="{{site.baseurl}}/competition" class="btn btn--xl">Enter now</a>
  </div>
</div>