---
layout: page
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title: Sounds of Germany
  content: >
    <p class="p--xxxl text--bold">Turn up the volume and discover this unique, diverse and welcoming country for yourself</p>
    <div class="space--md"></div>
    <a href="javascript:void(0);" class="btn btn--lg js-open-modal js-toggle-bg-video" data-open-modal="video-overview">Watch video</a>

intro: >
  <p class="p--xxl">To mark the 250th birthday of one of the greatest musical composers of all-time, Beethoven, we’re celebrating the anniversary by immersing ourselves in the sounds of Germany - a symphony that would have sparked Beethoven’s creativity. Since travel plans have been on hold until now, the anniversary celebrations will continue into 2021, giving you even more reason to travel to Germany. Turn up the volume of the sounds of Germany and let this be the soundtrack for your next travel adventure, discover and experience this unique, diverse and welcoming country. Whether you are looking for the exciting buzz of big cities or the calming stillness of nature, Germany offers you the perfect harmony of both. </p>
  <p class="p--xxl">Can’t wait to experience it for yourself? Watch now to satisfy your wanderlust.</p>


---

<div class="bg--black theme--dark">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
    <div class="space--lg"></div>
    <div class="width width--xl">
      <div class="infobox bg--grey-darkest text--center">
        <p class="p--xxl text--bold">Travel Germany with 3D audio powered by <img src="{{site.img}}/logo/ambeo-colour.svg" alt="Sennheiser AMBEO" class="infobox__logo"></p>
        <p>We've partnered with Sennheiser to create a truly immersive audio-visual experience. <a href="javascript:void(0);" class="text--link js-open-modal" data-open-modal="sennheiser">Read more...</a></p>
      </div>
    </div>
  </div>
</div>

<div class="vpad--xxl">
  {% assign citypages = site.html_pages | where: 'layout', 'city' %}
  <div class="container">
    <div class="row">
      {% for citypage in citypages %}
      {% assign imageid = citypage.id | append: '-banner' %}
      {% assign image = site.data.images | where: 'id', imageid %}
      <div class="col col--6">
        <div class="img img--4-3 rounded--md depth--md depth--md-hover" style="background-image: url({{site.img}}/pages/{{image[0].src}})">
          <a href="{{site.baseurl}}{{citypage.url}}" class="img__link"></a>
          <div class="img__content">
            <div class="boxpad--sm theme--dark">
              <h2 class="h h--lg">{{citypage.title}}</h2>
              <div class="space--sm"></div>
              <hr class="hr--center hr--no-margin">
              <p class="text--bold p--xl">{{citypage.overview-intro}}</p>
            </div>
          </div>
          <div class="img__overlay"></div>
          {% if image[0].copyright %}
          <div class="img__copyright">
            {% include components/copyright.html %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="space--lg"></div>
    <!-- Germany page -->
    {% include page/promo-germany.html%}
  </div>
</div>

<div class="space--xl"></div>