---
layout: page
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  video-url: http://m-stg.secretescapes.com/uk/2019/lexus-design-collection/uk/_assets/video/video.mp4
  title: Sounds of Germany
  content: >
    <p class="p--xxxl text--bold">Take an adventure around Germany, guided by the sounds of the cities.</p>
    <div class="space--sm"></div>
    <a href="javascript:void(0);" class="btn js-open-modal" data-open-modal="video">Watch video</a>

intro: >
  <p class="p--xxl">To mark the 250th birthday of one of the greatest musical composers of all-time, Beethoven, we’re celebrating the anniversary by immersing ourselves in the sounds of Germany - a symphony that would have sparked Beethoven’s creativity. Since travel plans have been on hold until now, the anniversary celebrations will continue into 2021, giving you even more reason to travel to Germany.  Discover more about this unique, diverse and welcoming country, its cities, lakes and mountains,  through the sounds that are dispersed throughout the landscape. </p>

---


<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}
</div>
<div class="width width--xl">
  <div class="infobox bg--grey-lightest text--center">
    <p class="p--xxl text--bold">Travel Germany with 3D audio powered by <img src="{{site.img}}/logo/sennheiser-colour.svg" alt="Sennheiser" class="infobox__logo"></p>
    <p>We've partnered with Sennheiser to create truly immersive audio-visual experience. <a href="javascript:void(0);" class="text--link js-open-modal" data-open-modal="sennheiser">Read more...</a></p>
  </div>
</div>

<div class="vpad--xxl">
  <div class="container">
    {% assign citypages = site.html_pages | where: 'layout', 'city' %}
    {% for citypage in citypages %}
    <div class="bob{% cycle '',' bob--swap' %}">
      <div class="bob__img">
        <div class="img img--4-3 rounded--md depth--md" style="background-image: url({{site.img}}/pages/{{citypage.id}}/banner.jpg)">
          <a href="{{site.baseurl}}{{citypage.url}}" class="img__link"></a>
        </div>
      </div>
      <div class="bob__text">
        <h2 class="h h--lg">{{citypage.title}}</h2>
        <p class="p--lg">{{citypage.intro}}</p>
        <div class="space--md"></div>
        <a href="{{site.baseurl}}{{citypage.url}}" class="btn">Discover {{citypage.title}}</a>
      </div>
    </div>
    {% endfor %}

    <div class="space--xxl"></div>
    <!-- Germany page -->
    {% assign germanypage = site.html_pages | where: 'id', 'germany' %}
    {% for germanypage in germanypage %}
    <div class="img img--21-9 rounded--md depth--md theme--dark text--center" style="background-image: url({{site.img}}/pages/germany/banner.jpg);">
      <a href="{{site.baseurl}}/germany" class="img__link"></a>
      <div class="img__content">
        <div class="boxpad--md">
          <div class="h h--xl">{{germanypage.overview.title}}</div>
          <p class="p--xl">{{germanypage.overview.intro}}</p>
          <div class="space--md"></div>
          <a href="{{site.baseurl}}{{germanypage.url}}" class="btn">Discover now</a>
        </div>
      </div>
      <div class="img__overlay"></div>
    </div>
    {% endfor %}
  </div>
</div>

{% include page/promo-competition.html %}