// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 700px;
  color: $white;
  background-color: $grey;
  @include bp($lg){
    height: 80%;
    min-height: 650px;
    max-height: none;
    &--video {
      height: 100%;
    }
  }
  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    min-height: 100%;
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }
    & video {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 100%;
    }
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      background-color: rgba(26,32,43,.4);
    }
  }
  &__jump-down {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    z-index: 5;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../img/icons/arrow-down.svg");
    background-position: 50% 52.5%;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid $white;
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
    transition: all .25s ease;
    &:hover {
      border-color: transparent;
      background-color: rgba($white,.4);
    }
  }
  &__play-illust {
    background-image: url('../img/overview/play-illust.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
    }
  }
}