// the title banner that appears at the top of every page. sometimes animated bgs
$nav-height:     136px;
$nav-height-sm:  104px;

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  min-height: 450px;
  max-height: 700px;
  color: $white;
  background-color: $grey;
  @include bp($lg){
    min-height: 650px;
    max-height: none;
    &--video {
      height: 100%;
    }
  }
  &__title {
    width: 90%;
    max-width: $xxl;
    margin: auto;
  }
  &__copyright {
    position: absolute;
    bottom: 0; right: 0;
    z-index: $z-overlay-upper;
  }
  &__wrap {
    text-shadow: 0 10px 20px rgba($black,0.2);
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
    padding-top: $nav-height-sm;
    @include bp($md){
      padding-top: $nav-height;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__fades {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: transparent;
    }
    &:before {
      top: 0;
      background: linear-gradient(0deg, rgba($black,0) 0%, rgba($black,1) 100%);
    }
    &:after {
      bottom: 0;
      background: linear-gradient(0deg, rgba($black,1) 0%, rgba($black,0) 100%);
    }
  }

  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }
    & video {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 100%;
    }
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      background-color: rgba(26,32,43,.4);
    }
  }
  &__jump-down {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    z-index: 10;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../img/icons/arrow-down.svg");
    background-position: 50% 52.5%;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid $white;
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
    transition: all .25s ease;
    &:hover {
      border-color: transparent;
      background-color: rgba($white,.4);
    }
  }
}






.soundwave {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  padding-top: $nav-height-sm;
  @include bp($md){
    padding-top: $nav-height;
  }

  // SVG
  & svg { display: block; }
  &__path {
    fill: none;
    stroke: $white;
    stroke-width: 2px;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
    &-fill {
      stroke-width: 0px;
      fill: $white;
    }
    &-thick {
      stroke-width: 4px;
    }
  }

  // CITY BANNER
  &__node {
    position: relative;
    flex: 1;
    height: 0%;
    transition: 1s all cubic-bezier(.65,.16,.38,1.29);
    &:hover { transform: scaleY(1.15); }
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      background-color: $white;
      left: 0; right: 0;
      top: 50%; margin-top: -2px;
    }
    display: none;
    @include bp($lg){
      display: block;
    }
    &--xxxl {
      display: none;
      @include bp($xxxl){
        display: block;
      }
    }
  }
  &__center {
    position: relative;
    transition: 1s all cubic-bezier(.65,.16,.38,1.29);
    width: 100%;
    @include bp($lg){
      width: 50%;
    }
    @include bp($xxxl){
      width: 33.33%;
    }
    &:hover { width: 40%; }
    &-top, &-bottom {
      position: absolute;
      width: 100%; left: 0; right: 0;
      padding: $s-4 $s0;
      @include bp($xxl){
        padding: $s2 0;
      }
    }
    &-top { bottom: 50%; }
    &-bottom { top: 50%; }
  }

  // OVERVIEW BANNER
  &--overview {
    z-index: 10;
    position: absolute;
    height: auto;
    bottom: 0; top: 0;
    left: 0; right: 0;
  }
  &--overview &__center {
    width: 100%;
    padding-left: $s2;
    padding-right: $s2;
    @include bp($xxl){
      width: 60%;
      max-width: $xxl;
      &:after {
        content: "";
        position: absolute;
        height: 4px;
        background-color: $white;
        left: 0; right: 0;
        top: 50%; margin-top: -2px;
      }
    }
  }

  &__circle {
    width: 30%;
    margin: auto;
    animation: spin 120s infinite linear;
    @keyframes spin {
      from {transform:rotate(0deg);}
      to {transform:rotate(360deg);}
    }
  }
}
