---
layout: page
id: germany-in-full-sound
nav-title: Germany
nav: true
nav-order: 2

overview:
  title: Explore Germany in full sound
  intro: With diverse regions, lively capital cities and unparalleled natural landscapes, Germany has so much to offer its visitors.

title: Germany in Full Sound
intro: >
  <p class="p--xl">With diverse regions and unparalleled natural landscapes, Germany brings us sounds from every angle. From the sweeping winds at high altitudes, to the calming rhythms of lakes, Germany is a country best experienced up-close for all the senses. Experience the stunning nature and various outdoor activities for yourself, which all play their part in this enchanting melodic country. </p>


sections:

  - id: heights
    title: Altos at high altitudes
    intro: Explore at dizzying new heights some of Germany’s most incredible natural landscapes and vistas to take a break from the every-day noise. Perceive the peaceful concord of Germany’s breathtaking nature through its spectacular national parks, castles and alpine meadows; a melody that will replay in your mind forever.
    pois:
      - id: zugspitze
        title: Zugspitze
        content: If you’re heading up, why not start at the highest peak and experience what it feels like to have the whole of Germany at your feet. A popular ski resort for winter sport enthusiasts, Zugspitze soars at 2,962 metres above sea level. If hurtling down a mountain on skis is not your idea of fun, you can still enjoy the 360° panoramic views that stretch over four neighbouring countries. The area of Zugspitze is naturally diverse with lakes, mountains, gorges, alpine meadows and moors - making it the ideal escape for adventure seekers. After a day of intrepid outdoor exploring, be sure to tuck into some hearty local Bavarian fare.
      - id: harz-mountains-national-park
        title: Harz Mountains National Park
        content: Harz National Park stretches from a low mountain range near Herzberg in the south, across the Harz massif to its northern slopes near Bad Harzburg and Ilsenburg. It offers the entire range of characteristic ecological systems, variations in height, slopes and rocks. The Park as an ecologically complex landscape has different vegetation zones and while virtually uninhabited, it does contain some settlements. With its geographical location, beautiful landscape and characteristic natural environmental setup and layout, the Harz National Park region is one of the most significant recreational areas in Central Europe.
      - id: drachenburg-castle
        title: Drachenburg Castle
        content: Germany is the land of fairytale castles and Drachenburg is certainly no exception! In 1882, Baron Stephan von Sarter laid the foundation stone for what later became Drachenburg Castle which is thought to be an architectural ode to the mythological Siegfried the dragon slayer. This picturesque castle and its magical surroundings offers a peaceful escape from the nearby city of Cologne. Standing tall on the top of the Drachenfels hillside, the castle delivers stunning views of the Rhine river below.

  - id: cities
    title: Up the tempo
    intro: When you’re searching for the pumping lifeblood of Germany, look to its cities. Lively, friendly, and artistic neighbourhoods welcome you in all corners. With architectural masterpieces brimming with history, fantastic foodie scenes, parks and gardens, cultural experiences and museums and galleries dotted throughout there are countless reasons why a German city is ideal for a short break.
    pois:
      - id: hamburg
        title: Hamburg
        content: The Inner and Outer Alster Lakes are a central part of Hamburg city life. Whenever the sun is out, they fill up with sailors, paddlers and rowers. Hamburg boasts a wide variety of museums, from modern art and German romanticism to ethnology and maritime history. Hamburg is also known as a musical hub, thanks to the Beatles who performed for the very first time as a new group in the St. Pauli district. After a day of hungry exploring, feed-up in Hamburg’s cultural hotspots, Sternschanze and Karoviertel, which have everything a foodie's heart could desire. For those who still have energy to burn, you can explore the magnificent port which never sleeps.
      - id: dresden
        title: Dresden
        content: Dresden offers attractions in great variety, most notably artistic treasures, architectural sights and a charming landscape. From the Old Town with its Renaissance and Baroque buildings, including Dresden Frauenkirche (Church of Our Lady), a magnificent domed Baroque church which dominates the Dresden skyline, to the Semper Opera House which  houses the Saxon State Orchestra, one of the world’s oldest orchestras. Take a tranquil stroll along the magnificent promenades on the bank of the Elbe River, meander through the interesting museums, gaze at the  industrial monuments, and immerse yourself in the charming details; a trip to Dresden never disappoints.
      - id: frankfurt
        title: Frankfurt
        content: The cosmopolitan city of Frankfurt is so much more than its business district that hums with the buzzing sounds of the financial sector. The old town with its half-timbered houses, the cathedral, the museum embankment and the Goethe House are among Frankfurt's most popular locations. In particular the magnificent Städel Institute of Art with the Municipal Gallery, situated in the heart of Frankfurt's museum mile, is one of Germany's preeminent art galleries and features masterpieces spanning nine centuries of European art.

  - id: water
    title: The calming cadences of water
    intro: Nothing quite beats the calming sounds of rippling water and rolling tides. If you feel at home on the water, then the lakes and coast provide ample opportunities to ride the waves. Whether you enjoy being active, taking part in water sports, or prefer to relax on the shores, explore the calming effects of Germany’s best natural water attractions.
    pois:
      - id: lake-constance
        title: Lake Constance
        content: The stunning Lake Constance is the third-largest lake in Europe, and a favourite amongst holiday-goers. As well as the obvious draw of the lake itself, there are also some surrounding  quaint towns that are well worth exploring during your trip. For those who enjoy fast-thrills, there are plenty of watersports to partake in on the lake, while for those who prefer to kick-back in total relaxation, there are plenty of places to doze with a good book. If island idylls are on the agenda, then Reichenau Island is connected by a dam to the mainland and can be reached without a boat.
      - id: northern-friesland
        title: Northern Friesland
        content: Are you crying out for open spaces and to be immersed amongst nature? Grab your bike, or some walking boots and head to Northern Friesland. Whether excursions, mudflat walks or simply a visit to the beach - this area has it all. Here, you can witness the ‘Wiedingharde’ in autumn and spring when the "Dance of the Starlings" (also known as "The Black Sun") begins. Thousands of starlings gather to fly south, forming fantastic flight formations; a rather breathtaking spectacle for all, not just avid bird-watchers.
      - id: steinhuder-sea
        title: Steinhuder Sea
        content: The largest lake in Lower Saxony, Steinhuder is a tranquil spot for your holiday. If you like to be out in the open water, then why not try your hat at sailing, surfing, kitesurfing, paddle boarding or canoeing, to name just a few activities. If you prefer to spend your time exploring on terraferma, the culinary options of the surrounding area provide more than enough to satisfy your tastebuds. Smoked eel is a popular local delicacy, which is washed down perfectly with a glass of Landestrost Castle sparkling wine.

  - id: nature
    title: Powerful crescendos of nature
    intro: From dramatic highs, to dramatic lows, the German landscape is extremely  diverse. Opt for hikes atop of mountains, or carve your own path around an ancient gorge. Some of the most stunning scenes of nature at its best have to be seen to be believed.
    pois:
      - id: partnach-gorge
        title: Partnach Gorge
        content: The impressive Partnach Gorge is a testament to the power of nature. Water floods down the Reintalanger alp carving its way through the vestige left by an ice-age glacier. In 1912 the gorge was opened as a natural monument inviting people to hike amongst the impressive landscape. Not for the faint of heart, you can cross the gorge via a  suspension bridge that hangs 223 ft above the gushing water below.  Hikers can embark on expeditions starting at the gorge, and making their way through the scenic Ferchenbach valley that surrounds the area.
      - id: saxon-switzerland
        title: Saxon Switzerland
        content: Discover the unspoilt and untouched beauty that is Saxon Switzerland. Begin with a hike on The Malerweg in the Elbe Sandstone Mountains, one of the most popular walks in Germany, and the inspiration of many painters and poets before us. A popular choice for families and adventure-travellers, the National Park of Saxon Switzerland offers endless ways to spend your holiday. The 93 km region is one of the most beautiful landscapes in Europe, with over 700 summits available to rock climbers and 400 km² of marked hiking-trails throughout the National Park. Nearby resorts and spas serve as an oasis for those looking to be pampered.
      - id: spree-forest
        title: Spree Forest
        content: An enchanting escape that wouldn’t look out of place in a fairytale, the Spree Forest is a simply stunning area of natural beauty. The ideal location for a wellness escape, the thermal baths, spas and treatments on offer will rejuvenate even the tiredest of souls. If you fancy an activity that isn’t too challenging, paddle by canoe or boat down the river and past the idyllic romantic cottages that line the riverbanks, stopping intermittently at the cosy cafes on route. Bike routes are clearly marked throughout the forest, and lucky cyclists might even spot  cranes, beavers or black storks on their ride through the UNESCO Reserve.


---



<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}
</div>

{% for section in page.sections %}
<div class="bg__fixed vpad--xxxl">
  <div class="bg__fixed-wrap">
    <div class="bg__fixed-img" style="background-image: url({{site.img}}/pages/{{page.id}}/bg-{{section.id}}.jpg);"></div>
  </div>
  <div class="container">
    <div class="container container--xxl container--no-padding">
      <div class="bg--white rounded--md depth--lg">

        <div class="boxpad--lg bg--black theme--dark text--center">
          <div class="h h--lg h--display">{{section.title}}</div>
          <p>{{section.intro}}</p>
        </div>

        {% for poi in section.pois %}
          {% assign image = site.data.images | where: 'id', poi.id %}
          <div class="harvey bg--white{% cycle '',' harvey--swap'%}">
            <div class="harvey__img" style="background-image: url({{site.img}}/pages/{{image[0].src}});">
              {% if image[0].copyright %}
              <div class="img__copyright">
                {% include components/copyright.html %}
              </div>
              {% endif %}
            </div>
            <div class="harvey__text">
              <div class="h h--xs h--sans">{{poi.title}}</div>
              <p class="p--lg">{{poi.content}}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endfor %}


<!-- Continue -->
{% assign nextid = page.nav-order | plus: 1 %}
{% assign citypages = site.html_pages | where: 'nav-order', nextid %}
{% for nextpage in citypages %}
{% if nextpage.layout == 'city' %}
<div class="vpad--xxl bg--grey-darkest theme--dark">
  <div class="container">
    <div class="img img--21-9 rounded--md depth--md theme--dark text--center" style="background-image: url({{site.img}}/pages/{{nextpage.id}}/banner.jpg);">
      <a href="{{site.baseurl}}{{nextpage.url}}" class="img__link"></a>
      <div class="img__content">
        <div class="boxpad--md">
          <div class="p--xxl text--smallcaps">Continue your adventure with</div>
          <div class="space--xxs"></div>
          <div class="h h--xl">The Sound of {{nextpage.title}}</div>
          <div class="space--xs"></div>
          <a href="{{site.baseurl}}{{nextpage.url}}" class="btn">Discover now</a>
        </div>
      </div>
      <div class="img__overlay"></div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>


{% include page/promo-competition.html %}



