// general modifier styles for text

p {
  max-width: $xxl;
  .text--center &,
  &.text--center { margin-left: auto; margin-right: auto; }
}

.p {
  // sizes
  &--xxxxl { font-size: 1.4rem; }
  &--xxxl { font-size: 1.3rem; }
  &--xxl { font-size: 1.2rem; }
  &--xl  { font-size: 1.1rem; }
  &--lg  { font-size: 1.05rem; }
  &--sm  { font-size: .9rem; }
  &--xs  { font-size: .8rem; }
}