---
layout: page
id: germany
nav-title: Germany
nav: true
nav-order: 6

overview:
  title: Explore Germany in full sound
  intro: Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

title: Germany in Full Sound
intro: >
  <p class="p--xl">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. </p>


sections:

  - id: heights
    title: Altos at high altitudes
    pois:
      - id: zugspitze
        title: Zugspitze
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: harz-mountains-national-park
        title: Harz Mountains National Park
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: drachenburg-castle
        title: Drachenburg Castle
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

  - id: cities
    title: Up the tempo
    pois:
      - id: hamburg
        title: Hamburg
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: dresden
        title: Dresden
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: frankfurt
        title: Frankfurt
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

  - id: water
    title: The calming cadences of water
    pois:
      - id: lake-constance
        title: Lake Constance
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: northern-friesland
        title: Northern Friesland
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: steinhuder-sea
        title: Steinhuder Sea
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

  - id: nature
    title: Powerful crescendos of nature
    pois:
      - id: partnach-gorge
        title: Partnach Gorge
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: saxon-switzerland
        title: Saxon Switzerland
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      - id: spree-forest
        title: Spree Forest
        content: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.


---



<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}
</div>

{% for section in page.sections %}
<div class="bg--white bg--img-fixed vpad--xxxl" style="background-image: url({{site.img}}/pages/{{page.id}}/bg-{{section.id}}.jpg);">
  <div class="container container--xxl container--no-padding">
    <div class="bg--white rounded--md depth--lg">

      <div class="boxpad--lg bg--black theme--dark text--center">
        <div class="h h--lg h--display">{{section.title}}</div>
      </div>

      {% for poi in section.pois %}
        <div class="harvey bg--white{% cycle '',' harvey--swap'%}">
          <div class="harvey__img">
            <div class="img img--1-1" style="background-image: url({{site.img}}/pages/germany/poi/{{poi.id}}.jpg);"></div>
          </div>
          <div class="harvey__text">
            <div class="boxpad--md">
              <div class="h h--xs">{{poi.title}}</div>
              <p class="p--lg">{{poi.content}}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endfor %}


{% include page/promo-competition.html %}



