

{% if page.id == 'competition' %}

<a id="track-partner-logo{{include.placement | prepend: '-'}}" class="logo logo--partner logo--partner-sm" href="{{site.partner.link}}" target="_blank">
  <img src="{{site.img}}/logo/partner.jpg" alt="{{site.partner.name}} Logo">
</a>

<a id="track-partner-logo{{include.placement | prepend: '-'}}" class="logo logo--sennheiser logo--sennheiser-sm" href="https://en-uk.sennheiser.com/" target="_blank">
  <img src="{{site.img}}/logo/ambeo-colour.svg" alt="Sennheiser Logo">
</a>

{% else %}

<a id="track-partner-logo{{include.placement | prepend: '-'}}" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{site.partner.link}}" target="_blank">
  <img src="{{site.img}}/logo/partner.jpg" alt="{{site.partner.name}} Logo">
</a>

{% endif %}