// general styles for the project that wouldn't be a reuseable component

.copyright {
  @include transition;
  position: relative;
  background-color: rgba($black,0);
  &:hover {
    background-color: rgba($black,0.8);
  }
  &:after {
    content: "©";
    font-size: $s1;
    font-weight: 600;
    height: $s3;
    width: $s3;
    line-height: $s3;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background-color: rgba($black,0.6);
    color: $grey-lightest;
  }
  &__text {
    @include transition;
    display: inline;
    opacity: 0;
    padding: 0 $s0;
    font-size: $s-1;
    border-right: 1px solid rgba($white,0.3);
    color: $grey-lightest;
  }
  &:hover &__text { opacity: 1; }
}

.mid-banner {
  position: relative;
  &__copyright {
    position: absolute;
    bottom: 0; right: 0;
  }
}

.title {
  position: relative;
  display: block;
  background-image: url('../img/graphics/title.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 11.88%;
  }
}

.sennheiser-logo {
  margin: auto;
  position: relative;
  display: block;
  background-image: url('../img/logo/ambeo-wh.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  max-width: 180px;
  @include bp($lg){
    max-width: 280px;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 21%;
  }
  &--sm {
    max-width: 180px;
  }
}

.infobox {
  border: 1px solid $sennheiser;
  border-radius: 3px;
  padding: $s2;
  position: relative;
  &:before {
    content: 'i';
    height: 24px;
    width: 24px;
    line-height: 24px;
    position: absolute;
    top: -12px; left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: $sennheiser;
    border: 1px solid rgba($black,0.2);
    z-index: 1;
    font-weight: 700;
    font-size: 0.9rem;
  }
  &__logo {
    width: 170px;
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
  }
}

.poi-card {
  $margin: 1.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  &__image {
    flex-shrink: 0;
    z-index: $z-modal-layer-1;
    width: 33.33%;
  }
  &__text {
    display: flex;
    align-items: center;
    z-index: $z-modal-layer-3;
    margin-top: $margin;
    margin-left: -$margin;
    margin-right: 0;
    margin-bottom: $margin;
    padding: $margin;
    font-size: .9rem;
    line-height: 1.33;
    color: $black;
    background-color: $white;
  }
  &__p {
    padding-top: .25rem;
  }
}