---
layout: page
---

<div class="theme--dark bg--black">
  <div class="container container--xxl text--center">
    <div class="p--xxxxl text--smallcaps">The sound of</div>
    <div class="h h--xxxl h--display">{{page.title}}</div>
    <div class="space--md"></div>
    <div class="p--xl">{{page.intro}}</div>
  </div>
  <div class="space--xxl"></div>
</div>

<div class="vpad--xxl">
  <div class="container">
    <div class="text--center">
      <div class="h h--lg">Follow the track of {{page.title}}</div>
      <div class="space--lg"></div>
    </div>

    {% for poi in page.video-pois %}
      {% assign image = site.data.images | where: 'id', poi.id %}
      <div class="bob{% cycle '',' bob--swap' %}">

        <div class="bob__img">
          <div class="img img--3-2" style="background-image: url({{site.img}}/pages/{{image[0].src}});">
            {% if image[0].copyright %}
            <div class="img__copyright">
              {% include components/copyright.html %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="bob__text">
          <div class="h h--xs h--sans">{{poi.title}}</div>
          <p>{{poi.content}}</p>
        </div>

      </div>
    {% endfor %}
  </div>
</div>

{% assign imageid = page.id | append: '-mid-banner' %}
{% assign image = site.data.images | where: 'id', imageid %}
<div class="vpad--xxxxl bg--img-fixed mid-banner" style="background-image: url({{site.img}}/pages/{{image[0].src}});">
  <div class="space--xxxxl"></div>
  {% if image[0].copyright %}
  <div class="mid-banner__copyright">
    {% include components/copyright.html %}
  </div>
  {% endif %}
</div>

<div class="vpad--xxl">
  <div class="container">
    <div class="text--center">
      <div class="h h--lg">
        {% if page.other-pois-title %}
          {{page.other-pois-title}}
        {% else %}
          {{page.title}} & beyond
        {% endif %}
      </div>
      <div class="space--xl"></div>
    </div>

    {% for poi in page.pois %}
      {% assign image = site.data.images | where: 'id', poi.id %}
      <div class="bob{% cycle '',' bob--swap' %}">

        <div class="bob__img">
          <div class="img img--3-2" style="background-image: url({{site.img}}/pages/{{image[0].src}});">
            {% if image[0].copyright %}
            <div class="img__copyright">
              {% include components/copyright.html %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="bob__text">
          <div class="h h--xs h--sans">{{poi.title}}</div>
          <p>{{poi.content}}</p>
        </div>

      </div>
    {% endfor %}
  </div>
  <div class="container">
    <div class="width width--xxl boxpad--md text--center rounded--md depth--flat">
      <p class="p--xxl">{{page.link-out.text}}</p>
      <div class="space--xs"></div>
      <a href="{{page.link-out.link}}" class="btn btn--sm" target="_blank">Read more</a>
    </div>
  </div>
</div>

<div class="bg--grey-lightest">

  {% assign offers = site.data.offers | where: 'page', page.id %}
  {% if offers.size > 0 %}
    <div class="space--xxl"></div>
    <div class="container">
      <div class="text--center">
        <div class="h h--lg">Offers</div>
        <div class="space--lg"></div>
      </div>
      <div class="row">
        {% for offer in offers %}
          <div class="col col--6">
            {% include offer/offer.html %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Continue -->
  {% assign nextid = page.nav-order | plus: 1 %}
  {% assign citypages = site.html_pages | where: 'nav-order', nextid %}
  {% for nextpage in citypages %}
  {% if nextpage.layout == 'city' %}
  <div class="container vpad--xxl">
    <div class="img img--21-9 rounded--md depth--md theme--dark text--center" style="background-image: url({{site.img}}/pages/{{nextpage.id}}/banner.jpg);">
      <a href="{{site.baseurl}}{{nextpage.url}}" class="img__link"></a>
      <div class="img__content">
        <div class="boxpad--md">
          <div class="p--xxl text--smallcaps">Continue your adventure with</div>
          <div class="space--xxs"></div>
          <div class="h h--xl">The Sound of {{nextpage.title}}</div>
          <div class="space--sm"></div>
          <a href="{{site.baseurl}}{{nextpage.url}}" class="btn">Discover now</a>
        </div>
      </div>
      <div class="img__overlay"></div>
    </div>
  </div>
  {% else %}
  <!-- No more city pages, link to Germany page -->
  <div class="container vpad--xxl">
    <div class="img img--21-9 rounded--md depth--md theme--dark text--center" style="background-image: url({{site.img}}/pages/germany/banner.jpg);">
      <a href="{{site.baseurl}}/germany" class="img__link"></a>
      <div class="img__content">
        <div class="boxpad--md">
          <div class="p--xxl text--smallcaps">Continue your adventure, discover</div>
          <div class="space--xxs"></div>
          <div class="h h--xl">Germany in Full Sound</div>
          <div class="space--sm"></div>
          <a href="{{site.baseurl}}/germany" class="btn">Discover now</a>
        </div>
      </div>
      <div class="img__overlay"></div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% include page/promo-competition.html %}
