<div class="modal modal--youtube is-closed" data-modal-id="{{modal.id}}" data-youtube-id="{{modal.youtube-id}}">
  <div class="js-close-modal modal__close"></div>

  <div class="modal__video-pre js-modal-splashscreen">
    <div class="boxpad--lg text--center theme--dark">
      <div class="sennheiser-logo"></div>
      <div class="space--sm"></div>
      <div class="h h--md">Put on your headphones and get ready</div>
      <p class="p--lg">Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <div class="space--sm"></div>
      <div class="btn">I'm ready</div>
    </div>
  </div>

  <div class="js-modal-video"></div>

</div>