<div class="modal modal--video modal--wirewax is-closed" data-modal-id="{{modal.id}}">
  <div class="js-close-modal modal__close"></div>

  <div class="video__pre js-modal-splashscreen">
    <div class="boxpad--lg text--center theme--dark">
      <div class="sennheiser-logo"></div>
      <div class="space--lg"></div>
      <div class="h h--md">Use headphones to experience Germany in full 3D audio</div>
      <div class="space--lg"></div>
      <div class="btn btn--outline">I'm ready</div>
    </div>
  </div>

  <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
    <iframe id="wirewax-player" style="position: absolute; top: 0; left: 0;" width="100%" height="100%" src="https://embedder.wirewax.com/{{modal.video-id}}/" frameborder="0" scrolling="yes" allowfullscreen allow="autoplay" muted="false"></iframe>
  </div>

</div>