<div class="modal modal--youtube is-closed" data-modal-id="{{modal.id}}" data-youtube-id="{{modal.youtube-id}}">
  <div class="js-close-modal modal__close"></div>

  <div class="modal__video-pre js-modal-splashscreen">
    <div class="boxpad--lg text--center theme--dark">
      <div class="sennheiser-logo"></div>
      <div class="space--sm"></div>
      <div class="h h--md">Experience Germany with 3D audio by Sennheiser</div>
      <div class="space--sm"></div>
      <div class="p--xxxl text--bold">Remember to use headphones for a truly immersive audio-visual adventure</div>
      <div class="space--sm"></div>
      <div class="btn">I'm ready</div>
    </div>
  </div>

  <div class="js-modal-video"></div>

</div>